<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chapter5.dao.StudentsDao">
	<!-- 查询 -->
	<select id="getAll1" resultType="students" parameterType="students">
		SELECT * FROM t_student where 1=1
		<if test="s_name != null and s_name !=''">   <!-- 这个if中没有{}切记 -->
			and s_name = '${s_name}'
		</if>
		<if test="s_no !=null and s_no !=''">
			and s_no ='${s_no}'
		</if>
	</select>
	
	<select id="getAll2" resultType="students" parameterType="java.lang.String">
	<!--  <bind name="pattern" value=" '%'+  s_no + '%' "/>-->
		SELECT * FROM t_student where 1=1
		<if test="s_no != null and s_no !=''">   
			and s_no like  CONCAT ('%',#{s_no},'%')  #{s_no} 
		</if>
	</select>
	
	<select id="getAll3" resultType="students" parameterType="java.util.Map" >
		SELECT * FROM t_student where 1=1
		<if test="s_name != null and s_name !=''">   <!-- 这个if中没有{}切记 -->
			and s_name = '${s_name}'
		</if>
		<if test="s_no !=null and s_no !=''">
			and s_no  like  CONCAT ('%',#{s_no},'%')
		</if>
	</select>
	
</mapper>